$primary-color: #7d7ca9;
$secondary-color: #c76d56;
$ternary-color: #9b6186;
$quaternary-color: #174a94;
$quinternary-color: #b0b0b0;

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  background: url('/images/bg.png') no-repeat center center fixed;
}
