div(class="header")
  h1 Roam If You Want To
  if (authenticated)
    a(href="/logout" class="button") logout
  else
    a(href="/login" class="button") login
    a(href="/signup" class="button") signup
