doctype html
html(lang="en")
  head
    title Roam if You Want To!
    link(href="/stylesheets/style.css", type="text/css", rel="stylesheet")
    
  body
    include ./header.pug
    block content
    include ./footer.pug
