extends ../partials/layout.pug

block content
  div
    div Username: #{username}
      if (iOwnThis) 
        button edit
    div City: #{current_city}
      if (iOwnThis) 
        button edit
    div Join Date: #{join_date}
      if (iOwnThis) 
        button edit
